<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="OracleConnection"
      connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = tusadslh01.r1-core.r1.aig.net)(PORT = 1528))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = SSDEV.WORLD)));User Id= csispl;Password=loan;" providerName="Oracle.DataAccess.Client"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <log4net>
    <appender name="LMASAppender" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
      <file type="log4net.Util.PatternString" value="\\pnsafsda10\Quillix\Apps\AWD\LMAS\Logs\QA\LMAS.log" xdt:Transform="Replace" />
    </appender>
  </log4net>
  <appSettings>
    <add key="WiseURLv2" value="https://twsaaswise01.r1-core.r1.aig.net/Aig.WC.ServicesV2/RestServices/" xdt:Transform="SetAttributes"
            xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServicesSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WebServicesSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://qt3.valic.com/BEPWS/WebServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServicesSoap"
        contract="LMAS_Service.WebServicesSoap" name="WebServicesSoap" xdt:Transform="Replace"/>
    </client>
  </system.serviceModel>
</configuration>