<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")    
    <!-- jQuery first, then Bootstrap.js, then LMAS JS -->

    

</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
       
</body>
</html>
